html,
body {
  margin: 0;
  padding: 0;
}

form {
  width: 40%;
  margin: 0 auto;
}

form input,
form button {
  height: 50px;
}

main h1 {
  text-align: center;
  font-size: 31px;
  font-weight: bold;
}

.card {
  position: relative;
}

.card .foodHeading {
  margin: 0 0 15% 0;
}

.foodBottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

/* ********** index.html ********** */
.selector {
  margin-top: 4%;
}

.selector h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.choices {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cardOne,
.cardTwo {
  border: 2px solid black;
  border-radius: 8px;
  width: 25vw;
  height: 40vh;
  margin: 0 10px;
  background: white;
}

.cardOne:hover,
.cardTwo:hover {
  transform: scale(1.025);
  transition: 0.3s;
}

.cardOne:not(:hover),
.cardTwo:not(:hover) {
  transform: scale(1);
  transition: 0.3s;
}

.cardOne h1,
.cardTwo h1 {
  padding-top: 5%;
  color: black;
}

.emoji {
  font-size: 1000% !important;
  text-align: center;
}

.indexFooter {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* ******************** */
.foodResults,
.drinkResults {
  width: 75vw;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px;
}

@media screen and (max-width: 1515px) {
  .foodResults,
  .drinkResults {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1119px) {
  .foodResults,
  .drinkResults {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 724px) {
  .foodResults,
  .drinkResults {
    grid-template-columns: auto;
  }

  .card {
    margin: 0 auto;
    width: 75vw;
  }
}
